<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h3>{{modalParam.header}}</h3>
</div>
<div class="modal-body">
    <span style="white-space: pre-line;">
        <input type="text" class="form-control" ng-model="modalParam.initValue1">
    </span>
    <span style="white-space: pre-line;">
        <textarea class="form-control" placeholder="説明を入力してください" ng-model="modalParam.initValue2"/>
    </span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$close()">Close</button>
    <button class="btn btn-primary" ng-click="update()">Save changes</button>
</div>