          <div class="row">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img data-src="holder.js/100%x180" alt="...">
              </a>
            </div>
          </div>

          <!-- Nav tabs -->
          <div>
            <ul class="nav nav-tabs">
              <li ng-class={"active":tabStatus.profile}><a href="#profile#360" data-toggle="tab">360</a></li>
              <li ng-class={"active":tabStatus.skills}><a href="#profile#Skills" data-toggle="tab">Skills</a></li>
              <li ng-class={"active":tabStatus.certificates}><a href="#profile#Certificates" data-toggle="tab">Certificates</a></li>
              <li ng-class={"active":tabStatus.resume}><a href="#profile#Resume" data-toggle="tab">Resume</a></li>
            </ul>


