    <div ng-controller="ProfilesCtrl" ng-init="initialize()">
        
        <ng-include src="'views/profile/profileHeader.html'"></ng-include>
        
            <!-- 360 - Multi Demention Feedback Section -->
            <div class="tab-pane" id="#360">
                <div class="row">
                    <div class="col-md-6" ng-repeat="data in radarChartData">
                        <radar-chart chart-data="data"></radar-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/vendor/docs.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
