          <div class="row">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img data-src="holder.js/100%x180" src="userImage/no-image.png">
              </a>
            </div>
          </div>

          <!-- Nav tabs -->
          <div>
            <ul class="nav nav-tabs">
              <li ng-class={"active":tabStatus.profile}><a href="#/profile/360" data-toggle="tab" data-target="#360">360</a></li>
              <li ng-class={"active":tabStatus.skills}><a href="#/profile/skills" data-toggle="tab" data-target="#Skills">Skills</a></li>
              <li ng-class={"active":tabStatus.certificates}><a href="#/profile/certificates" data-toggle="tab" data-target="#Certificates">Certificates</a></li>
              <li ng-class={"active":tabStatus.resume}><a href="#/profile/resume" data-toggle="tab" data-target="#Resume">Resume</a></li>
            </ul>
