    <div ng-controller="ProfilesResumeCtrl" ng-init="initialize()">
        
        <ng-include src="'views/profile/profileHeader.html'"></ng-include>
              <!-- Resume Section -->
              <div class="tab-pane" id="Resume">

                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>種別</th>
                        <th>プロジェクト名</th>
                        <th>年数</th>
                        <th>期間</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="project in projectList">
                        <td>{{$index}}</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
